@import './columns/lg.css';
@import './columns/md.css';
@import './columns/sm.css';
@import './columns/xs.css';

[class^='col-'] {
  padding-right: 10px;
}

.row-fluid [class^='col-'] {
  padding-right: 0px;
}

.row-height [class^='col-'] {
  height: 100%;
}

.row {
	width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-fluid{
  padding: 0;
}

.row-pad {
  padding: 0 0 0 10px;
}

.row-height {
  height: 100%;
}
