@import 'https://fonts.googleapis.com/css?family=Roboto';
@import './fontawesome-all.css';
@import './columns.css';

body,
html {
  height: 100vh;
  font-family: 'Roboto';
  font-size: 13px;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.content {
  padding: 0 10px;
}

header i.fas {
  color: #a0a0a0;
  font-size: 17px;
}

.user {
  border-radius: 50%;
  display: block;
  height: 32px;
  line-height: 32px;
  width: 32px;
}

.signed {
  background-color: #999;
  color: white;
  font-size: 19px;
  font-style: normal;
  text-align: center;
}
